<div class="wrapper">
  <h1>
    DiceTracker 1.0

  </h1>

  <h2>Welcome to the Dice Tracker!</h2>

  <p class="RollSelectTitle"> Click the button for what rolls and the site takes care of the rest!</p>


  <div class="flex">
    <img src="./DiceIcons/DiceCombos.png" class="DiceCombos" />
  </div>
  
  <div class="LeftSide">
    <p style="text-align: center;">
      Keep track of your dice rolls here.
    </p>
  
  
    <div class="RollHistory">
      <p>Roll History Below</p>
      @for( call of roll; track call) {
      <!--  -{{call.diceA}},{{call.diceB}}- -->
      @switch (call.outcome) {
  
      @case (CrapsCall.ACES_11){
      <img src="./DiceIcons/DiceTwo11.png" class="Dicepic" />
  
      }
      @case (CrapsCall.ACE_DEUCE_21){
      <img src="./DiceIcons/DiceThree21.png" class="Dicepic" />
  
      }
      @case (CrapsCall.EASY_FOUR_31){
      <img src="./DiceIcons/DiceFourEasy31.png" class="Dicepic" />
  
      }
      @case (CrapsCall.HARD_FOUR_22){
      <img src="./DiceIcons/DiceFourHard22.png" class="Dicepic" />
  
      }
      @case (CrapsCall.FIVE_41){
      <img src="./DiceIcons/DiceFive41.png" class="Dicepic" />
  
      }
      @case (CrapsCall.FIVE_32){
      <img src="./DiceIcons/DiceFive32.png" class="Dicepic" />
  
      }
      @case (CrapsCall.EASY_SIX_51){
      <img src="./DiceIcons/DiceSixEasy51.png" class="Dicepic" />
  
      }
      @case (CrapsCall.EASY_SIX_42){
      <img src="./DiceIcons/DiceSixEasy42.png" class="Dicepic" />
  
      }
      @case (CrapsCall.HARD_SIX_33){
      <img src="./DiceIcons/DiceSixHard33.png" class="Dicepic" />
  
      }
      @case (CrapsCall.SEVEN_61){
      <img src="./DiceIcons/DiceSeven61.png" class="Dicepic" />
      }
      @case (CrapsCall.SEVEN_52){
      <img src="./DiceIcons/DiceSeven52.png" class="Dicepic" />   
      }
      @case (CrapsCall.SEVEN_43){
      <img src="./DiceIcons/DiceSeven43.png" class="Dicepic" />
  
      }
      @case (CrapsCall.EASY_EIGHT_53){
      <img src="./DiceIcons/DiceEightEasy53.png" class="Dicepic" />
  
      } 
      @case (CrapsCall.HARD_EIGHT_44){
      <img src="./DiceIcons/DiceEightHard44.png" class="Dicepic" />
  
      }
      @case (CrapsCall.EASY_EIGHT_62){  
      <img src="./DiceIcons/DiceEightEasy62.png" class="Dicepic" />
  
      }
      @case (CrapsCall.NINE_54){
      <img src="./DiceIcons/DiceNine54.png" class="Dicepic" />
  
      }
      @case (CrapsCall.NINE_63){
      <img src="./DiceIcons/DiceNine63.png" class="Dicepic" />
  
      }
      @case (CrapsCall.TEN_64){
      <img src="./DiceIcons/DiceTenEasy64.png" class="Dicepic" />
  
      }
      @case (CrapsCall.HARD_TEN_55){
      <img src="./DiceIcons/DiceTenHard55.png" class="Dicepic" />
  
      }
      @case (CrapsCall.YO_ELEVEN_65){ 
      <img src="./DiceIcons/DiceElevenYo65.png" class="Dicepic" />
  
      }
      @case (CrapsCall.TWELVE_66){
      <img src="./DiceIcons/DiceTwelve66.png" class="Dicepic" />
  
      }

      @default {
      <img src="./DiceIcons/DiceNoRoll00.png" class="Dicepic" />
  
      }
      }<!-- end switch -->
      }<!-- end for -->
    </div>

  
  </div> 
  <div class="divider" role="separator" aria-label="Divider"></div>
<div class="RightSide"> 
  <p style="text-align: center; padding: auto">Naturals</p>
    <div class="button-container">
      <button (click)="onClickSeven61()"><img src="./DiceIcons/DiceSeven61.png" class="DiceButton" /></button>
      <button (click)="onClickSeven52()"><img src="./DiceIcons/DiceSeven52.png" class="DiceButton" /></button>
      <button (click)="onClickSeven43()"><img src="./DiceIcons/DiceSeven43.png" class="DiceButton" /></button>
      <button (click)="onClickElevenYo65()"><img src="./DiceIcons/DiceElevenYo65.png" class="DiceButton" /></button>
    </div>

    <p style="text-align: center;">Craps</p>
    <div class="button-container" >
      <button (click)="onClickTwo11()"><img src="./DiceIcons/DiceTwo11.png" class="DiceButton" /></button>
      <button (click)="onClickThree21()"><img src="./DiceIcons/DiceThree21.png" class="DiceButton" /></button>
      <button (click)="onClickTwelve66()"><img src="./DiceIcons/DiceTwelve66.png" class="DiceButton" /></button>
    </div>

  <p style="text-align: center;">Four</p>
      
  <div class="button-container"  >
    <button (click)="onClickFourEasy31()"><img src="./DiceIcons/DiceFourEasy31.png" class="DiceButton" /></button>
    <button (click)="onClickFourHard22()"><img src="./DiceIcons/DiceFourHard22.png" class="DiceButton" /></button>
  </div>
  
  <p style="text-align: center;">Five</p>
  <div class="button-container"  >
    <button (click)="onClickFive41()"><img src="./DiceIcons/DiceFive41.png" class="DiceButton" /></button>
    <button (click)="onClickFive32()"><img src="./DiceIcons/DiceFive32.png" class="DiceButton" /></button>
  </div>


   
    
    <p style="text-align: center;">Six</p>
    <div class="button-container" >
      <button (click)="onClickSixEasy51()"><img src="./DiceIcons/DiceSixEasy51.png" class="DiceButton" /></button>
      <button (click)="onClickSixEasy42()"><img src="./DiceIcons/DiceSixEasy42.png" class="DiceButton" /></button>
      <button (click)="onClickSixHard33()"><img src="./DiceIcons/DiceSixHard33.png" class="DiceButton" /></button>

    </div>
    
    <p style="text-align: center;">Eight</p>
    <div class="button-container" >
      <button (click)="onClickEightEasy53()"><img src="./DiceIcons/DiceEightEasy53.png" class="DiceButton" /></button>
      <button (click)="onClickEightHard44()"><img src="./DiceIcons/DiceEightHard44.png" class="DiceButton" /></button>
      <button (click)="onClickEightEasy62()"><img src="./DiceIcons/DiceEightEasy62.png" class="DiceButton" /></button>

    </div>

    <p style="text-align: center;">Nine</p>
    <div class="button-container" >
      <button (click)="onClickNine54()"><img src="./DiceIcons/DiceNine54.png" class="DiceButton" /></button>
      <button (click)="onClickNine63()"><img src="./DiceIcons/DiceNine63.png" class="DiceButton" /></button>

    </div>
   
    <p style="text-align: center;">Ten</p>
    <div class="button-container" >
      <button (click)="onClickTenEasy64()"><img src="./DiceIcons/DiceTenEasy64.png" class="DiceButton" /></button>
      <button (click)="onClickTenHard55()"><img src="./DiceIcons/DiceTenHard55.png" class="DiceButton" /></button>

    </div>
    
    
    <p style="text-align: center;">No Roll</p>
    <div class="button-container" >

      <button (click)="onClickNoRoll00()"><img src="./DiceIcons/DiceNoRoll00.png" class="DiceButton" /></button>
    </div>
    
  





  
  
  




  <!-- <div>Enter dice1</div>
<input type="text" [(ngModel)]="diceA" />
<div>Enter dice2</div>
<input type="text" [(ngModel)]="diceB" />
<button (click)="trackDice()">Track Dice</button> -->

</div>